{% extends 'layouts/base-presentation.html' %}
{% load crispy_forms_filters %}

{% block title %} Presentation {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} index-page {% endblock body_class %}

{% block content %}
<section class="my-5 py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card p-4">
        
        
          <h1 class="mb-4">Newspaper List <a class="btn btn-primary" href="{% url 'agency:newspaper-create' %}">Create</a></h1>
          <form method="get" action="" class="mb-4">
            {{ search_form|crispy }}
            <input type="submit" value="Search" class="btn btn-secondary">
          </form>
          {% if object_list %}
          <ul class="list-unstyled">
            {% for newspaper in object_list %}
            <li class="mb-4">
              <h2>{{ newspaper.title }}</h2>
              <p>Published on: {{ newspaper.pub_date }}</p>
              <p><strong>Topic:</strong> {{ newspaper.topic.name }}</p>
              <a class="btn btn-secondary" href="{% url 'agency:newspaper-detail' pk=newspaper.id %}">Article: </a>
              <p>{{ newspaper.content|truncatechars:50 }}</p>
              <p><strong>Publishers:</strong></p>
              <ul class="list-unstyled">
                {% for publisher in newspaper.publishers.all %}
                <li>{{ publisher.username }}</li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>There are no newspapers available.</p>
          {% endif %}
        
        
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
<!-- Specific JS goes HERE -->
{% block javascripts %}

  <script src="{{ ASSETS_ROOT }}/js/plugins/countup.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/choices.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/rellax.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/tilt.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/choices.min.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
  <script src="{{ ASSETS_ROOT }}/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>
  <script type="text/javascript">
      if (document.getElementById('state1')) {
          const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
          if (!countUp.error) {
              countUp.start();
          } else {
              console.error(countUp.error);
          }
      }
      if (document.getElementById('state2')) {
          const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
          if (!countUp1.error) {
              countUp1.start();
          } else {
              console.error(countUp1.error);
          }
      }
      if (document.getElementById('state3')) {
          const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
          if (!countUp2.error) {
              countUp2.start();
          } else {
              console.error(countUp2.error);
          }
          ;
      }
  </script>

{% endblock javascripts %}
